build/
bin/
obj/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
*.so
*.dll
*.exe
*.out

.vscode/
.idea/
*.swp
*.patch

config.json
.env
my_folder/

.DS_Store
Thumbs.db


!TODO.txt
!README.md

диграммы/